# 2020 Average-Daily-Balance Calculations

This notebook documents months 8 through 10 for 2020.

In [1]:
%run ./GreenlightUtility.py

averages = []

In [2]:
starting_balance = 727.99

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-08.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-08-02,2020-08-02,Greenlight Card,,Microsoft Corporation,,Childcare:Furnishings,,c,-1.99
1,2020-08-02,2020-08-02,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
2,2020-08-03,2020-08-03,Greenlight Card,,Starbucks,,Childcare:Furnishings,,c,-5.45
3,2020-08-06,2020-08-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
4,2020-08-06,2020-08-06,Greenlight Card,,82 EC,what is this?,Childcare:Furnishings,,c,-9.71
5,2020-08-09,2020-08-09,Greenlight Card,,Thrift Books,,Childcare:Furnishings,,c,-9.26
6,2020-08-10,2020-08-10,Greenlight Card,,Checkli,,Childcare:Furnishings,,c,-7.00
7,2020-08-11,2020-08-11,Greenlight Card,,Staples,,Childcare:Furnishings,,c,-9.26
8,2020-08-12,2020-08-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
9,2020-08-13,2020-08-13,Greenlight Card,,Amazon.com,,Childcare:Leisure,,c,-10.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2020-08-02   726.00
1  2020-08-02   716.01
2  2020-08-03   710.56
3  2020-08-06   709.57
4  2020-08-06   699.86
5  2020-08-09   690.60
6  2020-08-10   683.60
7  2020-08-11   674.34
8  2020-08-12   669.35
9  2020-08-13   658.36

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-08-02   716.01
2020-08-03   710.56
2020-08-06   699.86
2020-08-09   690.60
2020-08-10   683.60
2020-08-11   674.34
2020-08-12   669.35
2020-08-13   658.36

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 8)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-08-13   658.36

## 2020-09

In [7]:
starting_balance = 658.36

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-09.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-09-01,2020-09-01,Greenlight Card,,Amazon.com,,Childcare:Leisure,,c,-16.00
1,2020-09-01,2020-09-01,Greenlight Card,,Amazon.com,,Childcare:Leisure,,c,-16.00
2,2020-09-01,2020-09-01,Greenlight Card,,Microsoft Corporation,,Childcare:Furnishings,,c,-1.99
3,2020-09-02,2020-09-02,Greenlight Card,,Barnes & Noble,,Childcare:Furnishings,,c,-31.46
4,2020-09-03,2020-09-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
5,2020-09-06,2020-09-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
6,2020-09-12,2020-09-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
7,2020-09-23,2020-09-23,Greenlight Card,,Transfer Money,,[inflow account],,,150.00

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2020-09-01   642.36
1  2020-09-01   626.36
2  2020-09-01   624.37
3  2020-09-02   592.91
4  2020-09-03   582.92
5  2020-09-06   581.93
6  2020-09-12   576.94
7  2020-09-23   726.94

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-09-01   624.37
2020-09-02   592.91
2020-09-03   582.92
2020-09-06   581.93
2020-09-12   576.94
2020-09-23   726.94

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 9)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-09-23   726.94

## 2020-10

In [12]:
starting_balance = 726.94

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-10.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-10-01,2020-10-01,Greenlight Card,,Spotify,,Childcare:Leisure,,,-9.99
1,2020-10-02,2020-10-02,Greenlight Card,,Microsoft Corporation,,Childcare:Furnishings,,,-1.99
2,2020-10-02,2020-10-02,Greenlight Card,,Thrift Books Global,,Childcare:Furnishings,,,-16.07
3,2020-10-03,2020-10-03,Greenlight Card,,Transfer Money,,[inflow account],,,150.00
4,2020-10-06,2020-10-06,Greenlight Card,,Apple,,Childcare:Leisure,,,-0.99
5,2020-10-10,2020-10-10,Greenlight Card,,Enneagram Institute,,Childcare:Furnishings,,,-12.00
6,2020-10-12,2020-10-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
7,2020-10-15,2020-10-15,Greenlight Card,,Sprouts,,Childcare:Furnishings,,,-13.00
8,2020-10-17,2020-10-17,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,,-3.99
9,2020-10-30,2020-10-30,Greenlight Card,,US Donuts,,Childcare:Furnishings,,,-2.10
10,2020-10-31,2020-10-31,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,,-2.69

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2020-10-01   716.95
1   2020-10-02   714.96
2   2020-10-02   698.89
3   2020-10-03   848.89
4   2020-10-06   847.90
5   2020-10-10   835.90
6   2020-10-12   830.91
7   2020-10-15   817.91
8   2020-10-17   813.92
9   2020-10-30   811.82
10  2020-10-31   809.13

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-10-01   716.95
2020-10-02   698.89
2020-10-03   848.89
2020-10-06   847.90
2020-10-10   835.90
2020-10-12   830.91
2020-10-15   817.91
2020-10-17   813.92
2020-10-30   811.82
2020-10-31   809.13

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 10)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-10-31   809.13

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2020-08  674.257742
1  2020-09  620.649333
2  2020-10  817.947419

In [18]:
df_final['Balance'].sum() * .1

211.2854494623656