# 2021 Average-Daily-Balance Calculations

This notebook documents months 2 through 4 in 2021.

In [1]:
%run ./GreenlightUtility.py

averages = []

In [2]:
starting_balance = 917.67

df_csv = GreenlightUtility.get_csv_data_frame('./data/2021-02.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2021-02-02,2021-02-02,Greenlight Card,,Bub And Grandma's,,Childcare:Leisure,,,-7.00
1,2021-02-02,2021-02-02,Greenlight Card,,Microsoft Corporation,OneDrive,Childcare:Furnishings,,,-1.99
2,2021-02-03,2021-02-03,Greenlight Card,,Spotify,,Childcare:Leisure,,,-9.99
3,2021-02-03,2021-02-03,Greenlight Card,,Jackson Market,,Childcare:Furnishings,,,-8.33
4,2021-02-05,2021-02-05,Greenlight Card,,Village Well Books,,Childcare:Furnishings,,,-19.85
5,2021-02-05,2021-02-05,Greenlight Card,,Pizzette,,Childcare:Furnishings,,,-18.04
6,2021-02-06,2021-02-06,Greenlight Card,,Apple,,Childcare:Leisure,,,-0.99
7,2021-02-12,2021-02-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
8,2021-02-19,2021-02-19,Greenlight Card,,YouTube,,Childcare:Leisure,,,-3.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2021-02-02   910.67
1  2021-02-02   908.68
2  2021-02-03   898.69
3  2021-02-03   890.36
4  2021-02-05   870.51
5  2021-02-05   852.47
6  2021-02-06   851.48
7  2021-02-12   846.49
8  2021-02-19   842.50

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2021-02-02   908.68
2021-02-03   890.36
2021-02-05   852.47
2021-02-06   851.48
2021-02-12   846.49
2021-02-19   842.50

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2021, 2)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2021-02-19    842.5

## 2021-03

In [7]:
starting_balance = 842.5

df_csv = GreenlightUtility.get_csv_data_frame('./data/2021-03.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2021-03-01,2021-03-01,Greenlight Card,,Spotify,,Childcare:Leisure,,,-9.99
1,2021-03-01,2021-03-01,Greenlight Card,,Microsoft Corporation,OneDrive,Childcare:Furnishings,,,-1.99
2,2021-03-01,2021-03-01,Greenlight Card,,Atlantic Innovations,,Childcare:Furnishings,,,-10.00
3,2021-03-01,2021-03-01,Greenlight Card,,Atlantic Innovations,,Childcare:Furnishings,,,-48.36
4,2021-03-06,2021-03-06,Greenlight Card,,Apple,,Childcare:Leisure,,,-0.99
5,2021-03-12,2021-03-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
6,2021-03-27,2021-03-27,Greenlight Card,,Transfer Money,,[inflow account],,,75.00

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2021-03-01   832.51
1  2021-03-01   830.52
2  2021-03-01   820.52
3  2021-03-01   772.16
4  2021-03-06   771.17
5  2021-03-12   766.18
6  2021-03-27   841.18

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2021-03-01   772.16
2021-03-06   771.17
2021-03-12   766.18
2021-03-27   841.18

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2021, 3)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2021-03-27   841.18

## 2021-04

In [12]:
starting_balance = 	841.18

df_csv = GreenlightUtility.get_csv_data_frame('./data/2021-04.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2021-04-01,2021-04-01,Greenlight Card,,Microsoft Corporation,OneDrive,Childcare:Furnishings,,,-1.99
1,2021-04-02,2021-04-02,Greenlight Card,,Fifty One,,Childcare:Furnishings,,,-29.95
2,2021-04-02,2021-04-02,Greenlight Card,,Village Well Books,,Childcare:Furnishings,,,-5.60
3,2021-04-02,2021-04-02,Greenlight Card,,Sephora,,Childcare:Furnishings,,,-41.51
4,2021-04-02,2021-04-02,Greenlight Card,,Apple,,Childcare:Leisure,,,-9.98
5,2021-04-03,2021-04-03,Greenlight Card,,Transfer Money,,[inflow account],,,150.00
6,2021-04-03,2021-04-03,Greenlight Card,,Spotify,,Childcare:Leisure,,,-9.99
7,2021-04-03,2021-04-03,Greenlight Card,,Trader Joes,,Childcare:Furnishings,,,-19.05
8,2021-04-06,2021-04-06,Greenlight Card,,Overland Mini Market,,Childcare:Furnishings,,,-3.50
9,2021-04-12,2021-04-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
10,2021-04-19,2021-04-19,Greenlight Card,,Bobs Food Market,,Childcare:Furnishings,,,-7.47

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2021-04-01   839.19
1   2021-04-02   809.24
2   2021-04-02   803.64
3   2021-04-02   762.13
4   2021-04-02   752.15
5   2021-04-03   902.15
6   2021-04-03   892.16
7   2021-04-03   873.11
8   2021-04-06   869.61
9   2021-04-12   864.62
10  2021-04-19   857.15

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2021-04-01   839.19
2021-04-02   752.15
2021-04-03   873.11
2021-04-06   869.61
2021-04-12   864.62
2021-04-19   857.15

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2021, 4)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2021-04-19   857.15

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2021-02  854.244643
1  2021-03  780.207097
2  2021-04  858.882333

In [18]:
df_final['Balance'].sum() * .1

249.333407296467